apiVersion: networking.k8s.io/v1beta1
kind: Ingress
metadata:
  name: rancher-ing
  namespace: cattle-system
  annotations:
    nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
    nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"
    nginx.ingress.kubernetes.io/proxy-body-size: "5g"
    nginx.ingress.kubernetes.io/proxy-read-timeout: "600"
    nginx.ingress.kubernetes.io/proxy-send-timeout: "600"
spec:
  rules:
  - host: "{{rancher_domain_name}}"
    http:
      paths:
      - backend:
          serviceName: rancher-service
          servicePort: rancher-port
        path: "/"
        pathType: "ImplementationSpecific"
