{
 "name": "checkmarx-secret",
 "type": "secret",
 "data": {
    "check-interval": "{{check_interval}}"
    "client-secret": "{{checkmarx_secret}}"
    "cm-url": "{{checkmarx_origin}}"
    "username": "{{checkmarx_username}}"
    "password": "{{checkmarx_password}}"
 }
}
