{
 "name": "checkmarx",
 "type": "secret",
 "data": {
    "check-interval": "3000",
    "client-secret": "{{client-secret}}",
    "cm-url": "{{cm-url}}",
    "username": "{{username}}",
    "password": "{{password}}"
 }
}
