{
 "name": "webinspect",
 "type": "secret",
 "data": {
    "wi-base-url": "{{wi-base-url}}",
    "wi-type": "{{wi-type}}",
    "wi-username": "{{wi-username}}",
    "wi-password": "{{wi-password}}"
 }
}
