apiVersion: apps/v1
kind: Deployment
metadata:
  name: gitlab
spec:
  replicas: 1
  selector:
    matchLabels:
      app: gitlab
  template:
    metadata:
      labels:
        app: gitlab
    spec:
      containers:
      - name: gitlab
        image: gitlab/gitlab-ce:{{gitlab_ver}}-ce.0
        env:
        - name: GITLAB_OMNIBUS_CONFIG
          value: "external_url '{{gitlab_url}}';letsencrypt['enable'] = false;prometheus_monitoring['enable'] = false;unicorn['worker_processes'] = 2;sidekiq['concurrency'] = 9;gitlab_rails['gitlab_default_projects_features_container_registry'] = false;gitlab_rails['initial_root_password'] = '{{gitlab_root_passwd}}';gitlab_rails['gitlab_default_projects_features_builds'] = 'false'"
        volumeMounts:
        - name: gitlab-log-storage
          mountPath: /var/log/gitlab
        - name: gitlab-opt-storage
          mountPath: /var/opt/gitlab
        - name: gitlab-etc-storage
          mountPath: /etc/gitlab
      volumes:
      - name: gitlab-log-storage
        nfs:
          server: {{nfs_ip}}
          path: /{{nfs_dir}}/gitlab/logs
      - name: gitlab-opt-storage
        nfs:
          server: {{nfs_ip}}
          path: /{{nfs_dir}}/gitlab/data
      - name: gitlab-etc-storage
        nfs:
          server: {{nfs_ip}}
          path: /{{nfs_dir}}/gitlab/config
      {{hostAliases}}
