apiVersion: v1
kind: Service
metadata:
  name: gitlab-service
  labels:
    app: gitlab
spec:
  type: NodePort
  selector:
    app: gitlab
  ports:
    - name: {{http_type}}
      protocol: TCP
      port: {{http_port}}
      nodePort: {{gitlab_port}}
