apiVersion: apps/v1 # for versions before 1.9.0 use apps/v1beta2
kind: Deployment
metadata:
  name: sonarqube-server
spec:
  replicas: 1
  selector:
    matchLabels:
      app: sonarqube-server
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: sonarqube-server
    spec:
      containers:
      - name: sonarqube-server
        image: sonarqube:8.9-community
        ports:
        - containerPort: 9000
        env:
        - name: sonar.jdbc.username
          value: postgres
        - name: sonar.jdbc.password
          value: {{sonarqube_db_passwd}}
        - name: sonar.jdbc.url
          value: jdbc:postgresql://sonarqube-postgresql-service:5432/sonarqube
