apiVersion: apps/v1 # for versions before 1.9.0 use apps/v1beta2 , Ref - devops-system/_environments.json
kind: Deployment
metadata:
  name: devopsapi
spec:
  replicas: 1
  selector:
    matchLabels:
      app: devopsapi
  template:
    metadata:
      labels:
        app: devopsapi
    spec:
      containers:
      - name: devopsapi
        image: iiiorg/devops-api:{{iiidevops_ver}}
        imagePullPolicy: Always
        ports:
        - containerPort: 10009
        env:
        - name: SQLALCHEMY_DATABASE_URI
          value: "postgresql://postgres:{{db_passwd}}@devopsdb-service:5432/devopsdb"
        - name: SQLALCHEMY_TRACK_MODIFICATIONS
          value: "false"
        - name: JWT_SECRET_KEY
          value: "{{jwt_secret_key}}"
        - name: WTF_CSRF_CHECK_DEFAULT
          value: "false"
        - name: JSON_AS_ASCII
          value: "false"
        - name: REDMINE_IP_PORT
          value: "redmine-service:3000"
        - name: REDMINE_ADMIN_ACCOUNT
          value: "admin"
        - name: REDMINE_ADMIN_PASSWORD
          value: "{{redmine_admin_passwd}}"
        - name: REDMINE_API_KEY
          value: "{{redmine_api_key}}"
        - name: GITLAB_IP_PORT
          value: "gitlab-service:80"
        - name: GITLAB_ADMIN_ACCOUNT
          value: "root"
        - name: GITLAB_ADMIN_PASSWORD
          value: "{{gitlab_root_passwd}}"
        - name: GITLAB_PRIVATE_TOKEN
          value: "{{gitlab_private_token}}"
        - name: RANCHER_IP_PORT
          value: "{{rancher_ip}}:3443"
        - name: RANCHER_ADMIN_ACCOUNT
          value: "admin"
        - name: RANCHER_ADMIN_PASSWORD
          value: "{{rancher_admin_password}}"
        - name: RANCHER_CLUSTER_NAME
          value: "iiidevops-k8s"
        - name: HARBOR_BASE_URL
          value: "https://{{harbor_ip}}:5443/api/v2.0"
        - name: HARBOR_IP_PORT
          value: "{{harbor_ip}}:5443"
        - name: HARBOR_ACCOUNT
          value: "admin"
        - name: HARBOR_PASSWORD
          value: "{{harbor_admin_password}}"
        - name: CHECKMARX_ORIGIN
          value: "{{checkmarx_origin}}"
        - name: CHECKMARX_USERNAME
          value: "{{checkmarx_username}}"
        - name: CHECKMARX_PASSWORD
          value: "{{checkmarx_password}}"
        - name: CHECKMARX_SECRET
          value: "{{checkmarx_secret}}"
        - name: WEBINSPECT_BASE_URL
          value: "{{webinspect_base_url}}"
        - name: SONAR_IP_PORT
          value: "sonarqube-server-service:9000"
        - name: ADMIN_INIT_LOGIN
          value: "{{admin_init_login}}"
        - name: ADMIN_INIT_EMAIL
          value: "{{admin_init_email}}"
        - name: ADMIN_INIT_PASSWORD
          value: "{{admin_init_password}}"
        volumeMounts:
        - name: kube-config
          mountPath: /root/.kube
        - name: iii-logs
          mountPath: /usr/src/app/logs
      volumes:
      - name: kube-config
        nfs:
          server: {{nfs_ip}}
          path: /{{nfs_dir}}/kube-config		  
      - name: iii-logs
        nfs:
          server: {{nfs_ip}}
          path: /{{nfs_dir}}/api-logs
