chartmuseum:
  enabled: false
core:
  replicas: 1
  startupProbe:
    enabled: true
    initialDelaySeconds: 30
database:
  internal:
    password: {{harbor_db_password}}
  type: internal
exporter:
  replicas: 1
expose:
  # how to expose the service
  type: ingress
  tls:
    enabled: true
    certSource: secret
    secret:
      secretName: {{harbor_domain_name_tls}}
  ingress:
    controller: default
    hosts:
      core: {{harbor_domain_name}}
externalURL: https://{{harbor_domain_name}}
harborAdminPassword: {{harbor_admin_password}}
imagePullPolicy: IfNotPresent
internalTLS:
  certSource: auto
  #enabled: false
jobservice:
  replicas: 1
logLevel: info
metrics:
  enabled: false
nginx:
  replicas: 1
  serviceAccountName: ""
notary:
  enabled: false
persistence:
  enabled: true
  persistentVolumeClaim:
    chartmuseum:
      accessMode: ReadWriteOnce
      size: 500Gi
      storageClass: iiidevops-nfs-storage
    database:
      accessMode: ReadWriteOnce
      size: 100Gi
      storageClass: iiidevops-nfs-storage
    jobservice:
      accessMode: ReadWriteOnce
      size: 100Gi
      storageClass: iiidevops-nfs-storage
    redis:
      accessMode: ReadWriteOnce
      size: 100Gi
      storageClass: iiidevops-nfs-storage
    registry:
      accessMode: ReadWriteOnce
      size: 1000Gi
      storageClass: iiidevops-nfs-storage
  resourcePolicy: keep
portal:
  replicas: 1
  serviceAccountName: ""
proxy:
  components:
  - core
  - jobservice
  httpProxy: null
  httpsProxy: null
  noProxy: 127.0.0.1,localhost,.local,.internal
redis:
  type: internal
secretKey: not-a-secure-key
trivy:
  enabled: false
updateStrategy:
  type: Recreate
