clair:
  replicas: 1
registry:
  replicas: 1
expose:
  type: nodePort
  tls:
    enabled: true
    certSource: auto
    auto:
      commonName: harbor-common-tls
      commonName: harbor-common-tls
    secret:
      secretName: "harbor-tls"
  nodePort:
    name: devops-harbor
    ports:
      https:
        port: 443
        nodePort: 32443
  ingress:
    hosts:
      core: {{harbor_domain_name}}
    controller: default
externalURL: https://{{harbor_domain_name}}

internalTLS:
  enabled: true
  certSource: "auto"
  
persistence:
  enabled: true
  resourcePolicy: "keep"
  persistentVolumeClaim:
    registry:
      #existingClaim: ""
      storageClass: "iiidevops-nfs-storage"
      #subPath: ""
      accessMode: ReadWriteOnce
      size: 1000Gi
    chartmuseum:
      #existingClaim: ""
      storageClass: "iiidevops-nfs-storage"
      #subPath: ""
      accessMode: ReadWriteOnce
      size: 500Gi
    jobservice:
      #existingClaim: ""
      storageClass: "iiidevops-nfs-storage"
      #subPath: ""
      accessMode: ReadWriteOnce
      size: 100Gi
    database:
      #existingClaim: ""
      storageClass: "iiidevops-nfs-storage"
      #subPath: ""
      accessMode: ReadWriteOnce
      size: 100Gi
    redis:
      #existingClaim: ""
      storageClass: "iiidevops-nfs-storage"
      #subPath: ""
      accessMode: ReadWriteOnce
      size: 100Gi

imagePullPolicy: IfNotPresent

# The update strategy for deployments with persistent volumes(jobservice, registry
# and chartmuseum): "RollingUpdate" or "Recreate"
# Set it as "Recreate" when "RWM" for volumes isn't supported
updateStrategy:
  type: RollingUpdate

# debug, info, warning, error or fatal
logLevel: info

# The initial password of Harbor admin. Change it from portal after launching Harbor
harborAdminPassword: "{{harbor_admin_password}}"

# The secret key used for encryption. Must be a string of 16 chars.
secretKey: "not-a-secure-key"

# The proxy settings for updating trivy vulnerabilities from the Internet and replicating
# artifacts from/to the registries that cannot be reached directly
proxy:
  httpProxy:
  httpsProxy:
  noProxy: 127.0.0.1,localhost,.local,.internal
  components:
    - core
    - jobservice
    #- trivy

# If expose the service via "ingress", the Nginx will not be used
nginx:
  # set the service account to be used, default if left empty
  serviceAccountName: ""
  replicas: 1

portal:
  # set the service account to be used, default if left empty
  serviceAccountName: ""
  replicas: 1

core:
  replicas: 1
  ## Startup probe values
  startupProbe:
    enabled: true
    initialDelaySeconds: 10

jobservice:
  replicas: 1

chartmuseum:
  enabled: false

trivy:
  enabled: false

notary:
  enabled: false

database:
  # if external database is used, set "type" to "external"
  # and fill the connection informations in "external" section
  type: internal
  internal:
    # The initial superuser password for internal database
    password: "{{harbor_admin_password}}"

redis:
  # if external Redis is used, set "type" to "external"
  # and fill the connection informations in "external" section
  type: internal

exporter:
    replicas: 1

metrics:
  enabled: false
