apiVersion: networking.k8s.io/v1beta1
kind: Ingress
metadata:
  name: harbor-ing
  annotations:
    nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
    nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"
    nginx.ingress.kubernetes.io/proxy-body-size: "5g"
    nginx.ingress.kubernetes.io/proxy-read-timeout: "600"
    nginx.ingress.kubernetes.io/proxy-send-timeout: "600"
spec:
  rules:
  - host: "{{harbor_domain_name}}"
    http:
      paths:
      - backend:
          serviceName: devops-harbor
          servicePort: 443
        path: "/"
        pathType: "ImplementationSpecific"
