kind: Deployment
apiVersion: apps/v1
metadata:
  name: nfs-client-provisioner
spec:
  selector:
    matchLabels:
      app: nfs-client-provisioner
  replicas: 1
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: nfs-client-provisioner
    spec:
      serviceAccountName: nfs-client-provisioner
      containers:
        - name: nfs-client-provisioner
          image: quay.io/external_storage/nfs-client-provisioner:v3.1.0-k8s1.11
          volumeMounts:
            - name: nfs-client-root
              mountPath: /persistentvolumes
          env:
            - name: PROVISIONER_NAME
              value: iiidevops-nfs-provisioner
            - name: NFS_SERVER
              value: {{nfs_ip}}
            - name: NFS_PATH
              value: {{nfs_dir}}/pvc
      volumes:
        - name: nfs-client-root
          nfs:
            server: {{nfs_ip}}
            path: {{nfs_dir}}/pvc
