apiVersion: apps/v1 # for versions before 1.9.0 use apps/v1beta2
kind: Deployment
metadata:
  name: redmine
spec:
  replicas: 1
  selector:
    matchLabels:
      app: redmine
  template:
    metadata:
      labels:
        app: redmine
    spec:
      initContainers:
      # 修正configmap所需的讀寫權限
      - name: fix-permission-for-configfile
        image: busybox:1.33.1
        imagePullPolicy: IfNotPresent
        command: ['sh', '-c', 'cat /tmp/configuration.yml && cp /tmp/configuration.yml /config-tmp-dir/configuration.yml && chmod -R 777 /config-tmp-dir']
        # 同時掛載兩個空間(一個有redmine要得檔案, 另外一個有可自由讀寫的空間)
        volumeMounts:
        - name: redmine-config-vol
          mountPath: /tmp/configuration.yml
          subPath: configuration.yml
        - name: redmine-config-tmp-dir
          mountPath: /config-tmp-dir
      containers:
      - name: redmine
        image: redmine:4.1.5
        env:
        - name: REDMINE_DB_POSTGRES
          value: redmine-postgresql-service
        - name: REDMINE_DB_PASSWORD
          value: {{redmine_db_passwd}}
        - name: REDMINE_DB_DATABASE
          value: redmine
        - name: REDMINE_SECRET_KEY_BASE
          value: {{redmine_db_passwd}}
        volumeMounts:
        - name: redmine-config-tmp-dir
          mountPath: /usr/src/redmine/config/configuration.yml
          subPath: configuration.yml
        - name: redmine-files-dir
          mountPath: /usr/src/redmine/files
        ports:
        - containerPort: 3000
          name: ui
      # 向k8s取得redmine的yaml檔案
      volumes:
      - name: redmine-config-vol
        configMap:
          name: redmine-config
          items:
          - key: configuration.yml
            path: configuration.yml
      # 暫存給redmine與初始化需要的儲存空間(會隨刪除消失)
      - name: redmine-config-tmp-dir
        emptyDir: {}
      - name: redmine-files-dir
        nfs:
          server: {{nfs_ip}}
          path: /{{nfs_dir}}/redmine-files		  
