# Source: db/templates/ingressdbgui.yaml
apiVersion: networking.k8s.io/v1beta1
kind: Ingress
metadata:
  name: redmine-ing
  annotations:
    nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
    nginx.ingress.kubernetes.io/proxy-body-size: 100m
spec:
  tls:
    - hosts:
        - "{{redmine_domain_name}}"
      secretName: {{redmine_domain_name_tls}}
  rules:
    - host: "{{redmine_domain_name}}"
      http:
        paths:
          - backend:
              serviceName: redmine-service
              servicePort: 3000
            path: "/"
            pathType: "ImplementationSpecific"
